body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position:absolute;
 left:0;
top:0;
right: 1200px;

}
.logo img
{
    width: 80px;
    object-fit: contain;
}
h1 {
    margin: 0;
}

.contact-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: white;
    color: black;
 
    padding: 1em 0; 
    position: fixed;
    bottom: 0;
    left: 40%;
    width: 100%;
}

h1{
    text-align: center;
}
