body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo {
    position:absolute;
 left:0;
top:0;
right: 1200px;
}

.logo img {
    width: 80px;
    object-fit: contain;
}



h1 {
    margin: 0;
    text-align: center;
}

.announcement {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    background-color: white;
    color: black;
    padding: 1em 0; 
    position: fixed;
    bottom: 0;
    left: 40%;
    width: 100%;
}
.logo img{
    width: 80px;
    object-fit: contain;
}